.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 4rem;
  padding: 2.8rem;
  margin-bottom: 4rem;

}

@media screen and (min-width: 1550px) {
  .grid {
    gap: 8rem;
    padding: 4rem;
  }
}