.header {

/* backdrop-filter: blur(50px); */
background-color: #202020;
}

.title {

font-family: 'Sedgwick Ave Display', cursive;
display: flex;
justify-content: center;
padding: 1rem;
font-size: 3rem;
padding-top: 1.5rem;
color: greenyellow;

}