.header {
  background-color: #202020a4;
}

.title {
  font-family: "Sedgwick Ave Display", cursive;
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 3rem;
  padding-top: 1.5rem;
  color: greenyellow;
}

.list {
  display: flex;
  align-items: center;
  justify-content: end;
  text-decoration: none;
  list-style: none;
  background-color: greenyellow;
  height: 1.6rem;
}

.link {
  margin-right: 1.5em;
  color: #202020;

  text-decoration: none;
  font-family: sans-serif;
  font-weight: 600;
}

.linkImg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.linkImg img {
  width: 28em;
  height: auto;
}
